global:
  resolve_timeout: 2m

route:
  receiver: "default"
  group_wait: 10s
  group_interval: 30s
  repeat_interval: 30m
  group_by: ["alertname", "service", "severity"]

receivers:
  - name: "default"
    webhook_configs:
      - url: "http://alert-receiver:5001/alerts"
        max_alerts: 10
        send_resolved: true

inhibit_rules:
  - source_matchers:
      - "severity = critical"
    target_matchers:
      - "severity = warning"
    equal:
      - "alertname"
      - "service"

